html{
    background-color: gray;
    border: 3px solid black;
    margin-top: 5px;
    margin-left: 5px;
}

h1{
    font-family:sans-serif;
    text-align: center;
}
h2{
    font-family: sans-serif;
}
body{
    font-size: large;
    text-align: center;
}
p{
    font-family: sans-serif;
}
